MONGO_URI=mongodb://localhost:27017/zinfurn
SECRET_TOKEN=your_jwt_secret_key
GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
TELEGRAM_BOT_TOKEN=your_telegram_bot_token
ADMIN_TELEGRAM_CHAT_ID=your_admin_telegram_chat_id
RESEND_API_KEY=re_your_resend_api_key
MAIL_FROM=Zinfurn <onboarding@resend.dev>
PORT_API=3007
